
services:
  shortenurl:
    container_name: mizban-shortenurl
    build: .
    ports:
      - "8080:8080"
    environment:
      HOST: 0.0.0.0
      PORT: 8080
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: shortenurl
    restart: always
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: shorten_url_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: shortenurl
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10
      start_period: 10s

volumes:
  db_data:
